<!DOCTYPE html> 

<html> 

<head>
    <title>EHC Home Page</title> 
    <link rel="stylesheet" href="public/css/leaderboard.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Italianno&family=Playfair+Display&display=swap" rel="stylesheet">
</head> 

<body> 

    <div class="navbar">
        <ul>
            <li id="home-navbar"> <a id="home-link" href="/"> Home </a> </li>
            <li> <a href="#"> About </a> </li>
            <li> <a id="leaderboard-link" href="/leaderboard"> Leaderboard </a> </li>
            <li> <a href="/register">Register</a> </li> 
            <li> <a href="/login"> Login  </a> </li>  
        </ul> 

        <h1 id="title-navbar"> Welcome to EHC's Official Website! </h1>

        <img id="logo" src="public/assets/logo.png"> 
    </div> 

</body>





</html>