* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body{
     /* background-color: #2e323b;*/ 

     background-color: white; 
}

.navbar{
    margin-top: 0; 
    background-color: #2e323b; 
    padding: 0; 
    height: 60px; 
}


ul > li {
    display: inline-block; 
}

li{
    margin-top: 20px;
}

a{
    margin-right: 1.8vw;
    font-size: 1.1em; 
    color: white; 
    text-decoration-style: none; 
    text-decoration: none; 
    font-family: 'Playfair Display', serif;
}

a:hover{
    color: rgb(226, 220, 220); 
}

#home-navbar{
    margin-left: 30px; 
    
}

#login-link{
    color: rgb(231, 225, 225); 
}


#logo{
    position: absolute; 
    right: 50px; 
    top: 0px; 
    width: 5%; 
}



#title-navbar{
    color: white; 
    font-weight: lighter; 
    text-align: center; 
    font-size: 1.5em;
    margin-top: -27px;
    font-family: 'Playfair Display', serif; 
}


.login-form input{
    width: 400px; 
    height: 50px; 
    padding-left: 10px; 
    border: thin solid gray;
    border-radius: 10px;

}



#submit {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  width: 100px; 
}

#submit:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

#submit:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

#submit:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}


.login-form{
   text-align: center; 
   margin-top: 5vh;
}


.error-container{
    background-color: red; 
    width: 30vw; 
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    margin-top: -70px;
    opacity: 0%
}


#error-message{
    text-align: center; 
    color: white; 
    text-decoration-style: none; 
    text-decoration: none; 
    font-family: 'Playfair Display', serif;
    
}